.faq-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid var(--graphite);
    background-color: var(--graphite);
    border-radius: 10px;
    padding: 12px;

    &__title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &__title {
            color: var(--white);
            font-size: 16px;
        }

        &__arrow {
          display: flex;
          
          &__icon {
            width: 24px;
            height: 24px;
          }
        }
    }
}