.section-faq {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;

    @media only screen and (min-width: 768px) {
        padding: 30px 60px;
    }

    &__title {
        color: var(--white);
        font-size: 32px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media only screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (min-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        .faqs {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}