.desktop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 5rem 0 3rem;
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 999;
    
    &__logo-slogan {
        height: 90px;
        
        img {
            height: 100%;
            width: 100%;
        }
    }
    
    nav {
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    nav a {
        padding: 0 1rem;
        align-content: center;
        color: #FFFFFF;
        text-decoration: none;
        height: 100%;
    }
    
    nav a:hover {
        height: 100%;
        align-content: center;
        background-color: #9CED00;
        color: #FFFFFF;
    }
}

.mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 2rem 0 2rem;
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 999;
    overflow: hidden;

    &__logo-slogan {
        height: 90px;
        
        img {
            height: 100%;
            // width: 100%;
        }
    }

    &__menu-toggle {
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
    }
    
    &__mobile-navigation {
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
        background: var(--dark);
        padding: 60px 20px 80px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        height: 90%;
        justify-content: space-between;

        &__item {
            text-decoration: none;
            color: var(--white);
        }
    }
}
