.follow-us-section {
    padding: 30px 60px;
    
    .section-title {
        color: var(--dark);
        font-size: 32px;
    }

    .embedsocial-hashtag {
        .feed-powered-by-es {
            display: none !important;
        }
    }
}