.follow-us-section {
    padding: 20px 35px;
    
    .section-title {
        padding: 0 20px;
        color: var(--dark);
        font-size: 32px;
    }

    .embedsocial-hashtag {
        .feed-powered-by-es {
            display: none !important;
        }
    }
}